openapi: 3.2.0
info:
  title: Warrants API
  description: Warrant was a centralized, fine-grained authorization (FGA) service inspired by Google Zanzibar.
  version: '1.0'
  contact:
    name: Warrant (now WorkOS FGA)
    url: https://warrant.dev
  license:
    name: Apache-2.0
    url: https://github.com/warrant-dev/warrant/blob/main/LICENSE
servers:
- url: https://api.warrant.dev
  description: Warrant hosted API (RETIRED - sunset 2025-11-15)
- url: http://localhost:8000
  description: Self-hosted open-source Warrant server (default port)
security:
- apiKeyAuth: []
tags:
- name: Warrants
  description: Relationship tuples (access rules) between subjects and objects.
paths:
  /v1/warrants:
    get:
      operationId: queryWarrants
      tags:
      - Warrants
      summary: List / query warrants
      description: Lists warrants, optionally filtered by object type, object id, relation, or subject. RETIRED / modeled.
      parameters:
      - name: objectType
        in: query
        schema:
          type: string
      - name: objectId
        in: query
        schema:
          type: string
      - name: relation
        in: query
        schema:
          type: string
      - name: subject.objectType
        in: query
        schema:
          type: string
      - name: subject.objectId
        in: query
        schema:
          type: string
      responses:
        '200':
          description: A list of warrants.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Warrant'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createWarrant
      tags:
      - Warrants
      summary: Create a warrant
      description: Assigns a relation between a subject and an object (grants access). RETIRED / modeled.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Warrant'
      responses:
        '200':
          description: The created warrant.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Warrant'
    delete:
      operationId: deleteWarrant
      tags:
      - Warrants
      summary: Delete a warrant
      description: Removes a relation between a subject and an object (revokes access). RETIRED / modeled.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Warrant'
      responses:
        '200':
          description: The warrant was deleted.
components:
  schemas:
    Error:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
    Warrant:
      type: object
      required:
      - objectType
      - objectId
      - relation
      - subject
      properties:
        objectType:
          type: string
        objectId:
          type: string
        relation:
          type: string
        subject:
          $ref: '#/components/schemas/Subject'
        policy:
          type: string
          description: Optional ABAC condition (boolean expression) that must hold for the warrant to apply.
    Subject:
      type: object
      required:
      - objectType
      - objectId
      properties:
        objectType:
          type: string
        objectId:
          type: string
        relation:
          type: string
  responses:
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'API key passed as `Authorization: ApiKey YOUR_API_KEY`. Self-hosted deployments configure the key via ApiKey in the server config.'
